@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #5c5c5c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #161616;
}

@keyframes moveSlightly {
  0% {
      transform: translateX(0);
  }
  25% {
      transform: translateX(2px);
  }
  50% {
      transform: translateX(-2px);
  }
  75% {
      transform: translateX(2px);
  }
  100% {
      transform: translateX(0);
  }
}

.animate-moveSlightly {
  animation: moveSlightly 2s infinite; /* Adjust the duration as needed */
}

@keyframes rotateSlightly {
  0% {
      transform: translateX(0);
  }
  25% {
      transform: ;
  }
  50% {
      transform: translateX(-2px);
  }
  75% {
      transform: translateX(2px);
  }
  100% {
      transform: translateX(0);
  }
}
